.App {
  text-align: center;
  margin-top: 80px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 5em;
  font-weight: bolder;
  color: #593df7;
  text-align: center;
}

.highlight {
  font-weight: bolder;
  color: #593df7;
}

/* Nav */
.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 1rem 2rem !important;
  font-size: 1.3rem !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-left: 2rem !important;
}

/* Home */
.home-name {
  color: #593df7;
  font-style: oblique;
  font-size: 50px;
  font-weight: 'bolder';
}

.home-picture {
  width: 400px;
  height: 600px;
}

.contact-button {
  background-color: '#593df7';
  border: 'none';
}

.contact-button-text {
  font-size: 40px;
}

@media (max-width: 767px) {
  .home-picture {
    width: 200px;
    height: 300px;
  }
}

/* About */

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(143, 242, 255, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(114, 239, 255, 0.637) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(143, 242, 255, 0.637) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

/* Project */

.project-card {
  cursor: pointer;
}

.project-card:hover {
  background-color: rgba(165, 243, 253, 0.534);
}

/* Contact */

.contact-form {
  width: 60%;
  border: none;
  font-size: 30px;
  margin: 2% 20% 0% 20%;
  text-align: center;
}

.email-sent {
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  color: rgb(201, 76, 76);
  margin: 30%;
}

@media (max-width: 767px) {
  .contact-form {
    width: 100%;
    border: none;
    font-size: 30px;
    margin: 2% 0% 0% 0%;
    text-align: center;
  }
}

/* Footer */

.footer {
  color: white !important;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

@media (max-width: 767px) {
  .footer {
    display: none;
  }
}
